{% extends "layout.html.twig" %}
{% set practitionerMenu = true %}

{% block title %}Recherche de Practicien{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="well">
    <form class="form-horizontal" role="form" action="/practitioners/results/" method="post">
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-1 control-label">Type Practitioner</label>
            <div class="col-sm-7">
                <select class="form-control" name="practitioner_type">
                    {% for practitioner in practitioners_type %}
                        <option value="{{ practitioner.type_id }}">{{ practitioner.type_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-5">
                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}