{% extends "layout.html.twig" %}
{% set drugMenu = true %}

{% block title %}Vos rapports de visite{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% if reports %}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Practicien</th>
                    <th>Ville</th>
                    <th>Motif</th>
                </tr>
            </thead>
            {% for report in reports %}
                <tr>
                    <td>{{report.reporting_date}}</td>
                    <td>{{ report.practitioner }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">Aucun reports trouvé.</div>
{% endif %}   
{% endblock %}